<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <span class="navbar-brand mb-0 h1">GITHUB SEARCH</span>
      <form class="d-flex">
        <input #userInput (keyup.enter)="searchValue(userInput.value)" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <button (click)="receiveName()" class="btn btn-outline-success" type="button">Search</button> -->
      </form>

      <!-- method 2 -->
      <!-- <form (ngSubmit)="getInput()" class="d-flex">
        <input [(ngModel)]="name"type="text" class="form-control me-2" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive='active'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/repositories" routerLinkActive='active'>Repositories</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
