<div class="home">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src=`${response.avatar_url}` class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title"></h4>
                        <h5 class="card-title">Username</h5>
                        <p class="card-text">Bio</p>
                        <a class="audience" href="#">8 <span class="audience-fade">Followers</span></a>
                        <a class="audience" href="#">7 <span class="audience-fade">Following</span></a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-9">
                <app-repositories></app-repositories>
            </div>
        </div>
    </div>
</div>
