<div class="home">
    <app-navbar (submittedName)="receiveName($event)"></app-navbar>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="card" style="width: 18rem;">
                    <img src={{profile.avatar_url}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h4 class="card-title">{{profile.name}}</h4>
                        <h5 class="card-title">{{profile.login}}</h5>
                        <p class="card-text">{{profile.bio}}</p>
                        <a class="audience" href={{profile.html_url}}>{{profile.followers}} <span class="audience-fade">Followers</span></a>
                        <a class="audience" href={{profile.html_url}}>{{profile.following}} <span class="audience-fade">Following</span></a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-9">
                <app-repositories></app-repositories>
            </div>
        </div>
    </div>
</div>
