<div class="repositories">
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let repository of repositories" class="card mb-4 col-lg-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> {{repository.name}}</h5>
          <h6 class="card-title">{{repository.description}}</h6>
          <p class="card-text">Updated on {{repository.updated_at | date}}</p>
          <p class="card-text">{{repository.language}}</p>
          <div class="buttom">
            <a href={{repository.html_url}} class="links"><span class="icons">
                <fa-icon [icon]="faStar"></fa-icon>
              </span>{{repository.stargazers_count}} <span class="words">stars</span></a>
            <a href={{repository.html_url}} class="links"><span class="icons">
                <fa-icon [icon]="faCodeFork"></fa-icon>
              </span>{{repository.forks_count}} <span class="words">forks</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
