.repositories {
    padding-top: 6em;
    padding-bottom: 3em;

    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    border: 1px solid red;
}

.repositoryContainer {
    border: 1px solid red;
    /* display: flex;
    justify-content: space-between; */
}

.card {
    border: 1px solid red;
}

.buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}