.repositories {
    padding-top: 6em;
    padding-bottom: 3em;
    background: rgb(245, 245, 245);
}

.repositoryContainer {
    border: 1px solid black;
    display: flex;
}

.card {
    border: 1px solid rgb(130, 130, 130);
    /* margin: 0 0.7em 0 1em; */
    margin-left: 1.6em;
}

.buttom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    color: black;
    text-decoration: none;
}

.links:hover, .words:hover, .icons:hover {
    color: rgb(0, 8, 255);
}

.words {
    color: grey;
    font-size: 0.9em;
}

.icons {
    margin-right: 0.5em;
    color: grey;
}